<head>
    <title>{{ site.data.general_settings.website_name }}</title>
    {% if page.SEO_options.prevent_indexing %}
      <meta name="robots" content="noindex,nofollow">
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ page.SEO_options.title | default: site.data.general_settings.website_name }}">
    <meta property="og:description" content="{{ page.SEO_options.description | default: site.data.general_settings.website_description_text }}">
    <meta property="og:image" content="{{ page.SEO_options.image | default: site.data.general_settings.social_media_share_image }}">
    <meta property="og:url" content="{{ site.data.general_settings.live_domain_url }}{{ page.url }}">
    <meta name="twitter:card" content="{{ page.SEO_options.description | default: site.data.general_settings.website_description_text }}">
    <meta property="og:site_name" content="{{ site.data.general_settings.website_name }}">
    <meta name="twitter:image:alt" content="{{ site.data.general_settings.social_media_share_image }}">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta name="twitter:site" content="{{ site.data.general_settings.twitter_handle }}">
    {% if page.SEO_options.canonical %}
      <link rel="canonical" href="{{ site.data.general_settings.live_domain_url }}/{{ page.SEO_options.canonical }}">
    {% endif %}

    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HHFV5EVKNF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HHFV5EVKNF');
    </script>

    <script defer data-domain="causey.app" src="https://plausible.io/js/script.js"></script>

    {% if theme_data.headings_font or theme_data.body_font %}
        {% assign heading_fonts = theme_data.headings_font | replace: ', ', '|'
                                               | replace: ',', '|'
                                               | replace: ' ', '+' %}
        {% assign body_fonts = theme_data.body_font | replace: ', ', '|'
                                               | replace: ',', '|'
                                               | replace: ' ', '+' %}
        <link rel="stylesheet"
              href="//fonts.googleapis.com/css?family={% if heading_fonts %}{{ heading_fonts }}{% if body_fonts %}|{% endif %}{% endif %}{{ body_fonts }}:400,400i,700,700i">

    {% endif %}
</head>