.c-post-navigation {
	&__inner-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 40px 0 0;
		padding-top: 24px;
		border-top: 2px solid var(--border-color);
	}

	&__heading {
		display: none;
        margin-top: 75px;
        font-size: 3.6em;
	}

	&__option {
		font-size: 1.5em;
		font-weight: 500;
		color: var(--link-color);
		text-decoration: none;
		transition: color 0.2s ease;
		max-width: 45%;

		&:hover {
			color: var(--headings-color);
		}

		&--prev {

		}

		&--next {
			text-align: right;
		}
	}

	.n-post-header__heading {
		font-size: 2.7em;
	}
}
