<div
  class="{{c}}__inner-wrapper
			component"
  {%
  if
  include.id
  %}id="{{include.id}}"
  {%
  endif
  %}
>
  <h2 class="{{c}}__heading">{{ include.heading }}</h2>
  {% if include.lower_text %}
  <p class="{{c}}__content">{{ include.lower_text }}</p>
  {% endif %}
  <div class="{{c}}__mailing-list">
    <iframe
      src="https://cdn.forms-content-1.sg-form.com/9e76c4cb-3741-11f0-b529-2eb1d511927d"
      style="border: none; width: 100%; min-height: 1000px;"
    ></iframe>
  </div>
</div>
