.c-call-to-action {
  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
  }

  &__content {
    max-width: 650px;
    text-align: center;

    h2 {
      font-size: 3.2em;
      font-weight: 500;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    li,
    a {
      margin: 0;
      color: var(--light-text-color);
    }
  }

  .n-button {
    margin-top: 30px;
  }
}